{% block main %}
  <main class="center-parent">
    <div id="lyrics">
      Well, you only need the light when it's burning low<br>
      Only miss the sun when it starts to snow<br>
      Only know you love her when you let her go<br>
      Only know you've been high when you're feeling low<br>
      Only hate the road when you're missing home<br>
      Only know you love her when you let her go<br>
    </div>
    {{ spotify.box('7DFNE7NO0raLIUbgzY2rzm') }}
  </main>
{% endblock %}
