{% block main %}
  <main class="center-parent">
    <div id="lyrics">
      I see you <b>falling</b><br>
      How long to go before you hit the ground<br>
      You keep on screaming<br>
      Don't you see me here<br>
      Am I a ghost to you<br>
      <br>
      Now your grip's too strong<br>
      You can't catch <b>love</b> with a net or a gun<br>
      Gotta keep faith that your path will change<br>
      Gotta keep faith that your luck will change tomorrow<br>
    </div>
    {{ spotify.box('4ZQKOVSLaHG7hWeYz5r019') }}
  </main>
{% endblock %}
