{% block main %}
  <main class="center-parent">
    <div id="lyrics">
      You can see in her eyes<br>
      That no one is her chain<br>
      She's my <b>girl</b>, my supergirl<br>
      <br>
      And then she'd say, "It's okay<br>
      I got lost on the way<br>
      But I'm a supergirl<br>
      And supergirls don't <b>cry</b>"<br>
    </div>
    {{ spotify.box('0ebpQJLgkXCsFNJb44nIjB') }}
  </main>
{% endblock %}
