{% block main %}
  <main class="center-parent">
    <div id="lyrics">
      Love, love is a verb<br>
      Love is a doing word<br>
      Fearless on my breath<br>
      Gentle impulsion<br>
      Shakes me, makes me lighter<br>
      Fearless on my breath<br>
      Teardrop on the fire<br>
      Fearless on my breath<br>
    </div>
    {{ spotify.box('67Hna13dNDkZvBpTXRIaOJ') }}
  </main>
{% endblock %}
