{% block main %}
  <main class="center-parent">
    <div id="lyrics">
      If you're on your own<br>
      In this life<br>
      The days and nights are long<br>
      When you think you've had too much<br>
      Of this life<br>
      To hang on<br>
      <br>
      Well, everybody hurts sometimes<br>
      Everybody cries<br>
      And everybody hurts sometimes<br>
    </div>
    {{ spotify.box('5Q30xdABnojqN3wBIhrsQp') }}
  </main>
{% endblock %}
