{% block main %}
  <main class="center-parent">
    <div id="lyrics">
      We're that song you wouldn't sing<br>
      Just a broken melody<br>
      You're killing me<br>
      <br>
      You play me like a symphony<br>
      Play me till your fingers bleed<br>
      I'm your greatest masterpiece<br>
      You ruin me<br>
    </div>
    {{ spotify.box('12bCzRvt0PD9CCDko2IQIL') }}
  </main>
{% endblock %}
