{% block main %}
  <main class="center-parent">
    <div id="lyrics">
      I'll protect you from the hooded claw<br>
      Keep the vampires from your door<br>
      <br>
      I, feels like fire<br>
      I'm so in love with you<br>
      <b>Dreams</b> are like angels<br>
      They keep bad at bay, bad at bay<br>
      Love is the light<br>
      Scaring <b>darkness</b> away, yeah<br>
    </div>
    {{ spotify.box('3Gfv4gzlNLaYskRip9QBrM') }}
  </main>
{% endblock %}
