{% block main %}
  <main class="center-parent">
    <div id="lyrics">
      Mi bi se držali za vodove<br>
      Na krovu 14ice, sijevale bi iskre<br>
      <br>
      Samo mi stani na prste, odgrizi mi usne<br>
      Gorko, slatko, kao tango<br>
      Crno i crveno, stani mi na prste<br>
      Odgrizi mi usne<br>
    </div>
    {{ spotify.box('4kDCjygKTTVBO2C47sV1lS') }}
  </main>
{% endblock %}
