{% block main %}
  <main class="center-parent">
    <div id="lyrics">
      Je t'aime, je t'aime, oh, oui je t'aime<br>
      Moi non plus<br>
      Oh mon amour<br>
      Tu es la vague<br>
      Moi l'île nue<br>
      <br>
      Tu vas, tu vas et tu viens<br>
      Entre mes reins<br>
      Tu vas et tu viens<br>
      Entre mes reins<br>
      Et je te rejoins<br>
    </div>
    {{ spotify.box('5P0tWr5JZqDoi5wq2OalFH') }}
  </main>
{% endblock %}
