{% block main %}
  <main class="center-parent">
    <div id="lyrics">
      All of my friends say I should move on<br>
      She's just another girl, don't let her stick it to your <b>heart</b> so hard<br>
      And all of my friends say it wasn't meant to be<br>
      And it's a great big world, she's just another girl<br>
      <br>
      I could be reeling them in left and right<br>
      Something's got a hold on me, tonight<br>
      Well maybe all of my friends should confront<br>
      The fact that I don't <b>want</b> another girl<br>
    </div>
    {{ spotify.box('3aVyHFxRkf8lSjhWdJ68AW') }}
  </main>
{% endblock %}
