---
title: "moon"
---

{% block head %}
<link rel="stylesheet" type="text/css" href="/css/moon/style.css">
{% endblock %}

{% block main %}
<main class='container'>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
<div class='moons'></div>
</main>

<div id="poem">
    moon's letter to<br>
    the sun<br>
    ends with emptiness,<br>
    gaping void<br>
    of burning<br>
    stars<br>
</div>

{% endblock %}

{% block script %}
{% endblock %}
