{% block main %}
  <main class="center-parent">
    <div id="lyrics">
      Young at heart an it gets so hard to wait<br>
      When no one I know can seem to help me now<br>
      Old at heart but I musn't hesitate<br>
      If I'm to find my own way out<br>
      <br>
      Still talkin' to myself<br>
      And nobody's home<br>
      (Alone)<br>
    </div>
    {{ spotify.box('3s03nrUInN3NAVjQtmnS0O') }}
  </main>
{% endblock %}
