{% block main %}
  <main class="center-parent">
    <div id="lyrics">
      Why does my heart feel so bad?<br>
      Why does my soul feel so bad?<br>
      He'll open doors<br>
    </div>
    {{ spotify.box('3llxqT4IdBS7i2CCIPImww') }}
  </main>
{% endblock %}
