{% block main %}
  <main class="center-parent">
    <div id="lyrics">
      The storms are raging on the rolling sea<br>
      And on the highway of regret<br>
      The winds of change are blowing wild and free<br>
      You ain't seen nothing like me yet<br>
      <br>
      I could make you happy, make your dreams come true<br>
      Nothing that I wouldn't do<br>
      Go to the ends of the earth for you<br>
      To make you feel my love<br>
    </div>
    {{ spotify.box('6rfGPGghQL7SJmZPXprXIc') }}
  </main>
{% endblock %}
