html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  font-family: $font-main;
  color: $color-black;
  background-color: $color-white;
  height: 100%;
}

p {
	margin-top: 2rem;
}

h1 {
	font-size: 4rem;
	margin-top: 0;
	padding: 0;
	font-weight: bold;
	font-family: $font-title;
  text-align: center;
  text-transform: lowercase;
}
h2 {
  margin-top: 1em;
  font-size: 1.4rem;
  text-align: center;
  color: $color-gray;
}

em {
	font-style: italic;
}
.show {
	display: block !important;
}
a {
  text-decoration: none;
  color: $color-blue;
  padding: 10px;
  transition: .2s;
  border-radius: 4px;
  &:hover {
    background-color: $color-red;
    color: $color-white;
  }
}


// structure

body {
  width: 100%;
  height: 100%;
}

.center-parent {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  overflow-y: hidden;
  height: 100vh;
}

#lyrics {
  margin: 1em;
  font-size: 3vw;
  line-height: 120%;
  b {
    font-family: "quincy_cfbold", serif;
  }
}


@media only screen and (max-width: 768px) {
  .center-parent {
    flex-direction: column;
  }
  #lyrics {
    font-size: 4vw;
    margin-bottom: 2em;
  }
}

@keyframes tada {
  from {
    transform: scale3d(1, 1, 1);
  }

  10%,
  20% {
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }

  30%,
  50%,
  70%,
  90% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%,
  60%,
  80% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.char1,
.char2,
.char3,
.char4,
.char5,
.char6,
.char7,
.char0 {
  animation-name: tada;
  animation-iteration-count: infinite;
  display: inline-block;
}

.char1 {
  animation-duration: 1.8s;
  animation-delay: 0.3s;
}
.char2 {
  animation-duration: 2s;
  animation-delay: 0.8s;
}
.char3 {
  animation-duration: 1.8s;
  animation-delay: 1.2s;
}
.char4 {
  animation-duration: 2s;
  animation-delay: -0.2s;
}
.char5 {
  animation-duration: 2.2s;
  animation-delay: -1s;
}
.char6 {
  animation-duration: 2s;
  animation-delay: -1.6s;
}
.char7 {
  animation-duration: 2s;
  animation-delay: 0.1s;
}
.char0 {
  animation-duration: 2.4s;
  animation-delay: 0.6s;
}
