{% block main %}
  <main class="center-parent">
    <div id="lyrics">
      Looking from a window above,<br>it's like a story of love<br>
      Can you hear me<br>
      Came back only yesterday<br>
      I'm moving further away<br>
      Want you near me<br>
      <br>
      All I needed was the <b>love</b> you gave<br>
      All I needed for another day<br>
      And all I ever knew<br>
      <b>Only</b> you
    </div>
    {{ spotify.box('15Mh8m2BGTUptR8yy7fNAS') }}
  </main>
{% endblock %}
