{% block main %}
  <main class="center-parent">
    <div id="lyrics">
      I never meant to cause you any pain<br>
      I only wanted to one time to see you laughing<br>
    </div>
    {{ spotify.box('54X78diSLoUDI3joC2bjMz') }}
  </main>
{% endblock %}
