---
title: "noodd"
layout: "main"
---

{% block main %}
<main class="center-parent">

{% set page_g = site.pageOfSrc('/g/index.njk') %}
{% set page_eye = site.pageOfSrc('/eye/index.njk') %}
{% set page_moon = site.pageOfSrc('/moon/index.njk') %}

<a href="{{ page_g.url }}">{{ page_g.title }}</a>
<a href="{{ page_eye.url }}">{{ page_eye.title }}</a>
<a href="{{ page_moon.url }}">{{ page_moon.title }}</a>

</main>
{% endblock %}
